@font-face {
  font-display: swap;
  font-family: 'MesloLGM Nerd Font Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/MesloLGMNerdFontMono-Regular.ttf') format('ttf');
}

@font-face {
  font-display: swap;
  font-family: 'MesloLGM Nerd Font Mono';
  font-style: italic;
  font-weight: 400;
  src: url('../assets/fonts/MesloLGMNerdFontMono-Italic.ttf') format('ttf');
}

@font-face {
  font-display: swap;
  font-family: 'MesloLGM Nerd Font Mono';
  font-style: normal;
  font-weight: bold;
  src: url('../assets/fonts/MesloLGMNerdFontMono-Bold.ttf') format('ttf');
}

@font-face {
  font-display: swap;
  font-family: 'MesloLGM Nerd Font Mono';
  font-style: italic;
  font-weight: bold;
  src: url('../assets/fonts/MesloLGMNerdFontMono-BoldItalic.ttf') format('ttf');
}
