:host {
  display: block;
  position: fixed;
  top: 132px;
  right: 142px;
  z-index: 1000;
  background-color: #1d242a;
  padding: 5px;
  border-radius: 2px;
}

.find-box {
  width: 300px;
}

.find-matches {
  margin-left: 10px;
  margin-right: 10px;
}
