:host {
  display: block;
  overflow: hidden;
  height: 100%;
}

.log-menu {
  overflow: auto;
  max-height: calc(100% - 64px);
}

fa-icon {
  padding-right: 10px
}

.actions-bar {
  margin-bottom: 10px;

  button {
    margin-left: 5px;

    &.start:not([disabled]) {
      color: #98c379;
      border-color: #98c379;
    }

    &.restart:not([disabled]) {
      color: #1890ff;
      border-color: #1890ff;
    }
  }
}

cl-log-minimap {
  height: calc(100% - 42px);
}
