<nz-modal [(nzVisible)]="isVisible" [nzTitle]="(project ? 'Edit' : 'Add') + ' project'" (nzOnCancel)="handleCancel()" (nzOnOk)="done()">
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="validateForm" (ngSubmit)="done()">
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="name">Name</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please enter a name">
          <input nz-input formControlName="name" id="name"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="executable" nzRequired>Project file</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please select a file">
          <input nz-input id="file" formControlName="file"/>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
    <button nz-button nzType="primary" (click)="done()" [disabled]="validateForm.invalid">Done</button>
  </div>
</nz-modal>


