<nz-modal
  [nzVisible]="isVisible()"
  [nzTitle]="(form.controls.id.value ? 'Edit' : 'Add') + ' project'"
  [nzOkDisabled]="isFormInvalid()"
  (nzOnCancel)="hide()"
  (nzOnOk)="done()"
>

  <ng-container *nzModalContent>
    <form nz-form [formGroup]="angularForm" (ngSubmit)="done()">
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="name">Name</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please enter a name">
          <input nz-input formControlName="name" id="name" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="executable" nzRequired>Project file</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please select a file">
          <nz-input-group [nzSuffix]="inputFileTpl">
            <input nz-input id="file" formControlName="file" />
          </nz-input-group>
          <ng-template #inputFileTpl>
            <button
              nz-button
              nzType="dashed"
              nzShape="circle"
              nzSize="small"
              (click)="selectFile(); $event.preventDefault()"
            >
              <fa-icon [icon]="fasFolderOpen" transform="right-1" />
            </button>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>

</nz-modal>
