:host {
  @apply overflow-hidden h-full flex flex-col;
}

fa-icon {
  padding-right: 10px
}

.actions-bar {
  @apply flex justify-between items-center;
  margin-bottom: 10px;

  button {
    &:not(:first-child) {
      margin-left: 5px;
    }

    &.start:not([disabled]) {
      color: #98c379;
      border-color: #98c379;
    }

    &.restart:not([disabled]) {
      color: #1890ff;
      border-color: #1890ff;
    }
  }
}

dc-log-viewer {
  @apply flex-1 overflow-hidden;
}
