<div class="actions-bar">
  <div>
    <button
      nz-button
      class="start"
      [disabled]="!anythingNotExecuting()"
      (click)="runAll()"
    >
      <fa-icon [icon]="fasPlay" />
      Run All
    </button>
    <button nz-button class="restart" (click)="restartAll()" [disabled]="!anythingExecuting()">
      <fa-icon [icon]="fasRedo" />
      Restart All
    </button>
    <button nz-button nzDanger (click)="stopAll()" [disabled]="!anythingExecuting()">
      <fa-icon [icon]="fasStop" />
      Stop All
    </button>
  </div>
  <div>
    <button nz-button (click)="clearAll()">
      <fa-icon [icon]="fasEraser" />
      Clear
    </button>
  </div>
</div>

<dc-log-viewer />
