<div class="log-viewer">
  <rx-virtual-scroll-viewport
    autosize
    class="w-full h-full block"
    [tombstoneSize]="19"
    autoScroll
    [lock-y-offset]="100"
    (lockChanges)="updateScrollButtonVisibility($event)"
  >
    <dc-log-entry
      *rxVirtualFor="let entry of logEntries(); trackBy: 'id'; strategy: 'local'; renderCallback: itemsRendered"
      [entry]="entry"
      class="w-full"
    ></dc-log-entry>
  </rx-virtual-scroll-viewport>

  <button
    *ngIf="showScrollDownButton()"
    nz-button
    nzShape="circle"
    class="scroll-down-button"
    nz-tooltip="Scroll down"
    nzTooltipPlacement="left"
    (click)="scrollDown()"
  >
    <fa-icon [icon]="fasDownLong"></fa-icon>
  </button>
</div>
