<nz-modal
  [nzVisible]="isVisible()"
  [nzTitle]="channel()  ? 'Edit Channel' : 'Add Channel'"
  [nzMaskClosable]="false"
  [nzOkDisabled]="isFormInvalid()"
  (nzOnOk)="done()"
  (nzOnCancel)="hide()"
>

  <ng-container *nzModalContent>
    <form nz-form [formGroup]="angularForm">
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>Name</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please enter a name">
          <input nz-input formControlName="name" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>Color</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please enter or select a color">
          <nz-color-picker nzShowText formControlName="color" nzDefaultValue="#ffffff"></nz-color-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>Executable</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please enter a command">
          <nz-input-group [nzSuffix]="inputExecutableTpl">
            <input nz-input formControlName="executable" />
          </nz-input-group>
          <ng-template #inputExecutableTpl>
            <button
              nz-button
              nzType="dashed"
              nzShape="circle"
              nzSize="small"
              (click)="selectExecutable(); $event.preventDefault()"
            >
              <fa-icon [icon]="fasFolderOpen" transform="right-1" />
            </button>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24">Working directory</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please enter a path">
          <nz-input-group [nzSuffix]="inputCwdTpl">
            <input nz-input formControlName="executeIn" />
          </nz-input-group>
          <ng-template #inputCwdTpl>
            <button
              nz-button
              nzType="dashed"
              nzShape="circle"
              nzSize="small"
              (click)="selectCwd(); $event.preventDefault()"
            >
              <fa-icon [icon]="fasFolderOpen" transform="right-1" />
            </button>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24">Arguments</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
      <textarea
        nz-input
        formControlName="arguments"
        placeholder="One argument per line"
        [nzAutosize]="{ minRows: 3 }"
      ></textarea>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24">.env File</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-input-group [nzSuffix]="inputEnvFileTpl">
            <input nz-input formControlName="envFile" />
          </nz-input-group>
          <ng-template #inputEnvFileTpl>
            <button
              nz-button
              nzType="dashed"
              nzShape="circle"
              nzSize="small"
              (click)="selectEnvFile(); $event.preventDefault()"
            >
              <fa-icon [icon]="fasFolderOpen" transform="right-1" />
            </button>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24">
          <fa-icon
            [icon]="fasInfoCircle"
            nz-popover
            [nzPopoverTitle]="'Format'"
            [nzPopoverContent]="envVarsHelpTpl"
            nzPopoverPlacement="right"
            class="mr-2"
          />
          env Variables
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <textarea
            nz-input
            formControlName="envVars"
            placeholder="One key/value pair per line (key=value)"
            [nzAutosize]="{ minRows: 3 }"
          ></textarea>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24">
          <fa-icon
            [icon]="fasInfoCircle"
            nz-popover
            [nzPopoverTitle]="'Examples:'"
            [nzPopoverContent]="waitOnHelpTpl"
            nzPopoverPlacement="right"
            class="mr-2"
          />
          Wait on
        </nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
      <textarea
        nz-input
        formControlName="waitOn"
        placeholder="One url per line"
        [nzAutosize]="{ minRows: 3 }"
      ></textarea>
        </nz-form-control>
      </nz-form-item>
      <ng-container formGroupName="regex">
        <nz-form-item>
          <nz-form-label [nzSm]="8" [nzXs]="24">Regex: Search</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please enter a path">
            <input nz-input formControlName="search" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="8" [nzXs]="24">Regex: Replace</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please enter a path">
            <input nz-input formControlName="replace" />
          </nz-form-control>
        </nz-form-item>
      </ng-container>
      <nz-form-item nz-row class="register-area">
        <nz-form-control [nzSpan]="12" [nzOffset]="8">
          <label nz-checkbox formControlName="active">Active</label>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>

</nz-modal>


<ng-template #envVarsHelpTpl>
  <div>
    a=1<br>
    b:2<br>
    c = 3<br>
    d : 4<br>
  </div>
</ng-template>

<ng-template #waitOnHelpTpl>
  <div>
    http://localhost:4000<br>
    https://localhost:4000<br>
    http-get://localhost:4000<br>
    https-get://localhost:4000<br>
    tcp:localhost:4000<br>
    tcp:4000<br>
  </div>
</ng-template>
