:host {
  display: block;
  overflow: hidden;
  position: relative;
}

.log-minimap {
  position: absolute;
  top: 0;
  right: 10px;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.1);

  canvas {
    height: 100%;
  }
}

.log-content {
  overflow-y: scroll;
  overflow-x: auto;
  max-height: 100%;
}
