<ng-container *ngIf="channel$ | async as channel">
  <div class="actions-bar" fxLayout="row" fxLayoutAlign="space-between center">
    <div>
      <button nz-button (click)="run(channel)">
        <fa-icon icon="play"></fa-icon>
        Run
      </button>
    </div>
    <div>
      <button nz-button (click)="editChannel(channel)">
        <fa-icon icon="edit"></fa-icon>
        Edit
      </button>
      <button nz-button
              nz-popconfirm
              nzPopconfirmTitle="Are you sure delete this channel?"
              nzPopconfirmPlacement="bottom"
              [nzIcon]="iconTpl"
              (nzOnConfirm)="deleteChannel(channel)"
      >
        <ng-template #iconTpl>
          <fa-icon [icon]="['far','question-circle']"
                   style="color: red; position: absolute; top: 4px;"></fa-icon>
        </ng-template>
        <fa-icon icon="trash"></fa-icon>
        Delete
      </button>
    </div>
  </div>

  <cl-log-minimap>
    <cl-log-entry *ngFor="let entry of log$ | async" [entry]="entry"></cl-log-entry>
  </cl-log-minimap>

</ng-container>
