<nz-layout class="app-layout">

  <nz-header>
    <div class="app-header">
      <div class="title-bar">
        <img src="assets/logo.svg" alt="DevConsole" class="logo">
        <h1>DevConsole</h1>
      </div>
    </div>
  </nz-header>
  <nz-content>
    <div class="inner-content">
      <div class="actions-bar">
        <button nz-button nzType="primary" (click)="projectEditModal.show()">Add project</button>
      </div>
      <div class="flex flex-wrap gap-4">
        <ng-container *rxFor="let project of projects$">
          <nz-card
            class="project-card"
            [nzCover]="coverTemplate"
            [nzActions]="[actionEdit, actionRemove]"
            (click)="openProject(project)"
          >
            <nz-card-meta [nzTitle]="project.name" [nzDescription]="descriptionTemplate"></nz-card-meta>
          </nz-card>
          <ng-template #coverTemplate>
          </ng-template>
          <ng-template #descriptionTemplate>
            <span [nz-tooltip]="project.file" nzTooltipPlacement="bottom">
              {{ project.file | smartTrim:33 }}
            </span>
          </ng-template>
          <ng-template #actionEdit>
            <button nz-button nzType="text" (click)="projectEditModal.show(project); $event.stopPropagation()">
              <fa-icon [icon]="fasEdit"></fa-icon>
            </button>
          </ng-template>
          <ng-template #actionRemove>
            <ng-template #iconTpl>
              <fa-icon
                [icon]="farQuestionCircle"
                style="color: red; position: absolute; top: 4px;"
              ></fa-icon>
            </ng-template>
            <button
              nz-button
              nzType="text"
              nz-popconfirm
              nzPopconfirmTitle="Are you sure you want to delete this project? It will not remove the project file."
              nzPopconfirmPlacement="bottom"
              [nzIcon]="iconTpl"
              (click)="$event.stopPropagation()"
              (nzOnConfirm)="removeProject(project)"
            >
              <fa-icon [icon]="fasTrash"></fa-icon>
            </button>
          </ng-template>
        </ng-container>
      </div>
    </div>
  </nz-content>
</nz-layout>

<dc-project-edit-modal #projectEditModal (dcResult)="upsertProject($event)"></dc-project-edit-modal>
