.app-layout {
  height: 100%;
  overflow: hidden;
}

.logo {
  @apply inline-block;
  width: 30px;
}

nz-header {
  padding: 0;
  width: 100%;
  z-index: 2;
}

.app-header {
  @apply flex flex-wrap justify-between items-center;
  position: relative;
  height: 64px;
  box-shadow: 0 1px 4px rgba(0, 21, 41, .08);
  background-color: #1d242a;

  -webkit-app-region: drag;
  user-select: none;

  ::ng-deep button {
    -webkit-app-region: none;
  }

  .title-bar {
    padding-left: 24px;

    fa-icon {
      color: #1890ff;
    }

    h1 {
      display: inline-block;
      margin: 0 0 0 20px;
      font-weight: 600;
      font-size: 14px;
      font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
      vertical-align: middle;
    }
  }
}

nz-content {
  margin: 15px 20px;
}

.inner-content {
  padding: 10px;
  height: 100%;
  overflow: hidden;
}

.project-card {
  width: 300px;

  &:hover {
    border-color: #1890ff;
    cursor: pointer;
  }
}

.actions-bar {
  margin-bottom: 10px;
}
