<nz-modal
  [nzVisible]="isVisible()"
  nzTitle="Change channel ordering"
  [nzMaskClosable]="false"
  nzWidth="350px"
  (nzOnCancel)="close()"
  (nzOnOk)="done()"
>
  <ng-container *nzModalContent>
    <div class="channels" cdkDropList (cdkDropListDropped)="drop($event)">
      @for (channel of channels();track channel.id) {
        <div class="channel" cdkDrag [cdkDragData]="channel">
          <div *cdkDragPlaceholder class="channel placeholder"></div>
          <fa-icon [icon]="fasGripLines"></fa-icon>
          <span>{{ channel.name }}</span>
        </div>
      }
    </div>
  </ng-container>

  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="close()">Cancel</button>
    <button nz-button nzType="primary" (click)="done()">Done</button>
  </div>
</nz-modal>
