<ng-template #template let-notification>
  <div class="ant-notification-notice-content">
    <div>
      <div class="ant-notification-notice-message">Update available</div>
      <div class="ant-notification-notice-description">
        Version {{ notification.options.nzData.update.manifest?.version }} available. Click "Install" button to update.
      </div>
      <span class="ant-notification-notice-btn">
        <button nz-button nzType="primary" nzSize="small" (click)="installUpdate(); notification.close()">
          Install
        </button>
      </span>
    </div>
  </div>
</ng-template>
