<nz-layout class="app-layout" *ngIf="project$ | async as project">
  <ng-container *rxLet="sidebarCollapsed$; let sidebarCollapsed">
    <nz-sider class="menu-sidebar"
              nzCollapsible
              nzWidth="256px"
              nzBreakpoint="md"
              [nzCollapsed]="sidebarCollapsed"
              [nzTrigger]="null"
    >
      <div class="sidebar-logo">
        <a (click)="warnRunning()">
          <img src="assets/logo.svg" alt="DevConsole" class="logo">
          <h1>{{ project.name }}</h1>
        </a>
      </div>
      <ul nz-menu
          nzTheme="dark"
          nzMode="inline"
          [nzInlineCollapsed]="sidebarCollapsed"
          class="log-menu"
      >
        <li nz-menu-item [nzSelected]="!(selectedChannelId$ | async)">
          <a title (click)="openChannel(null)" [nz-tooltip]="sidebarCollapsed ? 'All Channels' : null">
            <fa-icon icon="layer-group" class="anticon"
            ></fa-icon>
            <span *ngIf="!(sidebarCollapsed)">All Channels</span>
          </a>
        </li>
        <li nz-submenu nzOpen>
          <span title>
            <fa-icon icon="align-left" class="anticon"></fa-icon>
            <span *ngIf="!(sidebarCollapsed)">Channels</span>
          </span>
          <ul>
            <li *ngFor="let channel of (channels$ | async)"
                nz-menu-item
                [nzSelected]="channel.id === (selectedChannelId$ | async)"
            >
              <ng-container *ngIf="channel.id | callFunction:channelStatus.bind(this) as status$">
                <a (click)="openChannel(channel.id)">
                  <ng-container *ngIf="channel.active" [ngSwitch]="status$ | async">
                    <fa-icon *ngSwitchCase="ExecuteStatus.RUNNING" icon="dot-circle" [style.color]="channel.color"></fa-icon>
                    <fa-icon *ngSwitchCase="ExecuteStatus.WAITING"
                             [icon]="['far','clock']"
                             transform="shrink-4"
                             mask="circle"
                             [style.color]="channel.color"
                    ></fa-icon>
                    <fa-icon *ngSwitchCase="ExecuteStatus.STOPPED" icon="circle" [style.color]="channel.color"></fa-icon>
                  </ng-container>
                  <ng-container *ngIf="!channel.active" [ngSwitch]="status$ | async">
                    <fa-icon *ngSwitchCase="ExecuteStatus.RUNNING" [icon]="['far', 'dot-circle']" [style.color]="channel.color"></fa-icon>
                    <fa-icon *ngSwitchCase="ExecuteStatus.WAITING" [icon]="['far','clock']" [style.color]="channel.color"></fa-icon>
                    <fa-icon *ngSwitchCase="ExecuteStatus.STOPPED" [icon]="['far', 'circle']" [style.color]="channel.color"></fa-icon>
                  </ng-container>
                  {{ channel.name }}
                </a>
              </ng-container>
            </li>
          </ul>
        </li>
      </ul>
      <div style="width: auto"></div>
      <ul nz-menu
          nzTheme="dark"
          nzMode="inline"
          [nzInlineCollapsed]="sidebarCollapsed"
      >
        <li *rxLet="channels$; let channels" nz-menu-item nzMatchRouter (click)="channelOrderModal.show(channels)">
          <fa-icon icon="grip-horizontal"
                   class="anticon"
                   [nz-tooltip]="sidebarCollapsed ? 'Change channel ordering' : null"
          ></fa-icon>
          <span *ngIf="!sidebarCollapsed">Change channel ordering</span>
        </li>
        <li nz-menu-item nzMatchRouter (click)="newChannel()">
          <fa-icon icon="plus-circle"
                   class="anticon"
                   [nz-tooltip]="sidebarCollapsed ? 'Add new channel' : null"
          ></fa-icon>
          <span *ngIf="!sidebarCollapsed">Add new channel</span>
        </li>
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-header>
        <div class="app-header" fxLayout="row" fxLayoutAlign="space-between center">
          <div>
            <button nz-button
                    nzType="text"
                    nzSize="large"
                    (click)="toggleSidebar()"
            >
              <i class="trigger"
                 nz-icon
                 [nzType]="sidebarCollapsed ? 'menu-unfold' : 'menu-fold'"
              ></i>
            </button>
          </div>
          <ng-container teleportOutlet="window-actions"></ng-container>
        </div>
      </nz-header>
      <nz-content>
        <div class="inner-content" *rxLet="allLogs$; let all">
          <dc-channel-log *ngIf="!all"></dc-channel-log>
          <dc-combined-log *ngIf="all"></dc-combined-log>
        </div>
      </nz-content>
    </nz-layout>
  </ng-container>
</nz-layout>

<cl-channel-order-modal #channelOrderModal
                        (result)="changeOrder($event)"
></cl-channel-order-modal>
