:host {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo {
  @apply inline-block;
  width: 30px;
}

.app-layout {
  height: 100vh;
  overflow: hidden;
}

.menu-sidebar {
  position: relative;
  z-index: 10;
  min-height: 100vh;
  box-shadow: 2px 0 6px rgba(0, 21, 41, .35);
  overflow: hidden;
}

.header-trigger {
  height: 64px;
  padding: 20px 24px;
  font-size: 20px;
  cursor: pointer;
  transition: all .3s, padding 0s;
}

.trigger:hover {
  color: #1890ff;
}

.sidebar-logo {
  position: relative;
  height: 64px;
  padding-left: 24px;
  overflow: hidden;
  line-height: 64px;
  transition: all .3s;

  fa-icon {
    color: #1890ff;
  }
}

.sidebar-logo h1 {
  display: inline-block;
  margin: 0 0 0 20px;
  font-weight: 600;
  font-size: 14px;
  font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
  vertical-align: middle;
}

nz-header {
  padding: 0;
  width: 100%;
  z-index: 2;
}

.app-header {
  @apply flex justify-between items-center relative;
  height: 64px;
  padding: 0 0 0 10px;
  box-shadow: 0 1px 4px rgba(0, 21, 41, .08);
  background-color: #1d242a;

  -webkit-app-region: drag;
  user-select: none;

  ::ng-deep button {
    -webkit-app-region: none;
  }
}

nz-content {
  margin: 15px 20px;
}

.inner-content {
  padding: 10px;
  height: 100%;
  overflow: hidden;
}

.log-menu {
  overflow: auto;
  max-height: calc(100% - 144px);
  height: calc(100% - 160px);
  user-select: none;
  -webkit-user-select: none;
}

