<nz-layout *ngIf="project$ | push as project" class="app-layout">
  <ng-container *rxLet="sidebarCollapsed$; let sidebarCollapsed">
    <nz-sider
      class="menu-sidebar"
      nzCollapsible
      nzWidth="256px"
      nzBreakpoint="md"
      [nzCollapsed]="sidebarCollapsed"
      (nzCollapsedChange)="toggleSidebar()"
      [nzTrigger]="null"
    >
      <div class="sidebar-logo">
        <a (click)="warnRunning()">
          <img src="assets/logo.svg" alt="DevConsole" class="logo">
          <h1>{{ project.name }}</h1>
        </a>
      </div>
      <ul nz-menu
          nzTheme="dark"
          nzMode="inline"
          [nzInlineCollapsed]="sidebarCollapsed"
          class="log-menu"
      >
        <li nz-menu-item [nzSelected]="!(selectedChannelId$ | push)">
          <a title (click)="openChannel(null)" [nz-tooltip]="sidebarCollapsed ? 'All Channels' : null" nzTooltipPlacement="right">
            <fa-icon [icon]="fasLayerGroup" class="anticon"
            ></fa-icon>
            <span *ngIf="!(sidebarCollapsed)">All Channels</span>
          </a>
        </li>

        <li nz-menu-divider></li>

        <li
          *ngFor="let channel of (channels$ | push)"
          nz-menu-item
          [nzSelected]="channel.id === (selectedChannelId$ | push)"
        >
          <ng-container *ngIf="channel.id | callFunction:channelStatus as status$">
            <a (click)="openChannel(channel.id)" [nz-tooltip]="sidebarCollapsed ? channel.name : null" nzTooltipPlacement="right">
              <ng-container *ngIf="channel.active" [ngSwitch]="status$ | push">
                <fa-icon *ngSwitchCase="ExecuteStatus.RUNNING" [icon]="fasDotCircle" [style.color]="channel.color"></fa-icon>
                <fa-icon
                  *ngSwitchCase="ExecuteStatus.WAITING"
                  [icon]="farClock"
                  transform="shrink-4"
                  [mask]="fasCircle"
                  [style.color]="channel.color"
                ></fa-icon>
                <fa-icon *ngSwitchCase="ExecuteStatus.STOPPED" [icon]="fasCircle" [style.color]="channel.color"></fa-icon>
              </ng-container>
              <ng-container *ngIf="!channel.active" [ngSwitch]="status$ | push">
                <fa-icon *ngSwitchCase="ExecuteStatus.RUNNING" [icon]="farDotCircle" [style.color]="channel.color"></fa-icon>
                <fa-icon *ngSwitchCase="ExecuteStatus.WAITING" [icon]="farClock" [style.color]="channel.color"></fa-icon>
                <fa-icon *ngSwitchCase="ExecuteStatus.STOPPED" [icon]="farCircle" [style.color]="channel.color"></fa-icon>
              </ng-container>
              <span *ngIf="!(sidebarCollapsed)" class="channel-name">{{ channel.name }}</span>
            </a>
          </ng-container>
        </li>
      </ul>
      <div style="width: auto"></div>
      <ul nz-menu
          nzTheme="dark"
          nzMode="inline"
          [nzInlineCollapsed]="sidebarCollapsed"
      >
        <li *rxLet="channels$; let channels" nz-menu-item nzMatchRouter (click)="channelOrderModal.show(channels)">
          <fa-icon
            [icon]="fasGripHorizontal"
            class="anticon"
            [nz-tooltip]="sidebarCollapsed ? 'Change channel ordering' : null"
          ></fa-icon>
          <span *ngIf="!sidebarCollapsed">Change channel ordering</span>
        </li>
        <li nz-menu-item nzMatchRouter (click)="channelEditModal.show()">
          <fa-icon
            [icon]="fasPlusCircle"
            class="anticon"
            [nz-tooltip]="sidebarCollapsed ? 'Add new channel' : null"
          ></fa-icon>
          <span *ngIf="!sidebarCollapsed">Add new channel</span>
        </li>
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-header>
        <div class="app-header">
          <div>
            <button
              nz-button
              nzType="text"
              nzSize="large"
              (click)="toggleSidebar()"
            >
              <fa-icon class="trigger" [icon]="sidebarCollapsed ? fasSquareCaretRight : fasSquareCaretLeft"></fa-icon>
            </button>
          </div>
        </div>
      </nz-header>
      <nz-content>
        <div class="inner-content" *rxLet="allLogs$; let all">
          <dc-channel-log *ngIf="!all; else elseTpl"></dc-channel-log>
          <ng-template #elseTpl>
            <dc-combined-log></dc-combined-log>
          </ng-template>
        </div>
      </nz-content>
    </nz-layout>
  </ng-container>
</nz-layout>

<dc-channel-order-modal #channelOrderModal (result)="changeOrder($event)"></dc-channel-order-modal>
<dc-channel-edit-modal #channelEditModal (dcResult)="addChannel($event)"></dc-channel-edit-modal>
