:host {
  display: block;
  overflow: hidden;
  height: 100%;
}

fa-icon {
  padding-right: 10px
}

.actions-bar {
  margin-bottom: 10px;

  button {
    &:not(:first-child) {
      margin-left: 5px;
    }

    &.start:not([disabled]) {
      color: #98c379;
      border-color: #98c379;
    }

    &.restart:not([disabled]) {
      color: #1890ff;
      border-color: #1890ff;
    }
  }
}

webview {
  height: calc(100% - 42px);
}
