<span class="window-actions" *teleportTo="'window-actions'">
  <button nz-button
          nzType="text"
          nzSize="large"
          (click)="minimize()"
  >
    <fa-icon [icon]="['far','window-minimize']"></fa-icon>
  </button>
  <button *ngIf="!(maximized$ | async)"
          nz-button
          nzType="text"
          nzSize="large"
          (click)="maximize()"
  >
    <fa-icon [icon]="['far','window-maximize']"></fa-icon>
  </button>
  <button *ngIf="(maximized$ | async)"
          nz-button
          nzType="text"
          nzSize="large"
          (click)="restore()"
  >
    <fa-icon [icon]="['far','window-restore']"></fa-icon>
  </button>
  <button nz-button
          nzType="text"
          nzSize="large"
          nzDanger
          (click)="close()"
  >
    <fa-icon [icon]="['far','window-close']"></fa-icon>
  </button>
</span>

<div class="app-layout">
  <router-outlet></router-outlet>
</div>
