.log-entry {
  border-left: 2px solid transparent;
  padding-left: 5px;
  overflow: hidden;
  min-height: 19px;
  line-height: 19px;
  font-family: "MesloLGM Nerd Font Mono", monospace;

  span {
    word-wrap: break-word;
    white-space: break-spaces;
    word-break: break-all;

    &.data {
    }

    &.error {
      color: red;
    }

    &.info {
      color: lightseagreen;
      font-weight: bold;

      &:before {
        content: "ℹ️ ";
      }
    }
  }
}
